* {
    padding: 0;
    margin: 0;
}
#game {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
}

#character {
    width: 100px;
    height: 100px;
    background-color: rgb(72, 255, 0);
    position: absolute;
    top: 200px;
    left: 400px;
    right: 0;
}

#white {
    top: 0px;
    z-index: 100;
    position: absolute;
    width: 100px;
    height: 530px;
    background-color: white;
    left: 500px;
}

#block {
    width: 100px;
    height: 100px;
    top: 100px;
    background-color: black;
    position: absolute;
    animation: slide 2s infinite linear;
}
@keyframes slide {
    0% {
        left: -100px;
    }
    100% {
        left: 500px;
    }
}
